
/* Collection 1 */
:root {
    /* Mode 1 */
    /* color */
    --rouge: #BF1725;
    --blanc: #ffffff;
    --rouge-foncé: #8C2B3D;
    --rouge-clair: #F20505;
    --noir: #000000;
    --gris-clair: #F2F2F2;
    --rouge2: #A60303;
    --pastel: #F2A2A9;
    --gris: #D9D7C5;
    --rouge-tf: #401919;

    

      /* Variables de police */
      
        --font-cinzel: 'Cinzel', serif;
        --font-lato: 'Lato', sans-serif;
        --font-open-sans: 'Open Sans', sans-serif;
        --font-raleway: 'Raleway', sans-serif;

    /* Exemple d'utilisation des variables */
    body {
        font-family: var(--font-lato);
    }
    
    h1 {
        font-family: var(--font-cinzel);
        font-weight: 900;
    }
    
    p {
        font-family: var(--font-open-sans);
        font-style: italic;
        font-weight: 400;
    }
    
    .special-text {
        font-family: var(--font-raleway);
        font-weight: 700;
    }
    
  }