/* Style général */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

/* Style du header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--rouge-foncé);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 167.045px;
  box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur totale */
}

.header__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__katana {
  width: 100px;
  height: auto;
}

.header__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header__logo {
  width: 300px; /* Ajustez selon la taille de votre logo */
  height: auto;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__trad {
  width: 30px; /* Ajustez selon la taille de votre icône de traduction */
  height: auto;
  margin-right: 25px;
}

.header__menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn__bar {
  display: block;
  width: 25px;
  height: 3px;
}