.separator {
  background: black;
  width: 100%;
  height: 5px;
}

.separator__red {
  background: red;
  width: 100%;
  height: 10px;
}

.separator__left {
  background: red;
  width: 50%;
  height: 10px;
  float: left;
  margin-top: -15px;
}

.separator__right {
  background: red;
  width: 50%;
  height: 10px;
  float: right;
  margin-top: -15px;
}

.separation__katana {
  width: 100%;
  
}