/* Style des images */
.images {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    display: block; /* Évite les marges indésirables autour des images */
    padding: 20px;
  }
  
  .container {
    max-width: 100%;
    overflow: hidden;
    display: flex;
  }
  
  .header img, .menu img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Permet de préserver le ratio de l'image dans son conteneur */
  }
  
  .responsive-img {
    max-width: 100%;
    height: auto;
  }
