.images {
    max-width: 100%;
    height: auto;
    display: block; /* Évite les marges indésirables autour des images */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

.container {
    max-width: 100%;
    overflow: hidden;
}

.header img, .menu img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Permet de préserver le ratio de l'image dans son conteneur */
}

.responsive-img {
    max-width: 100%;
    height: auto;
}
