/* Style des images */
.images {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: block; /* Évite les marges indésirables autour des images */
  padding: 20px;
}

.container {
  max-width: 100%;
  overflow: hidden;
  display: flex;
}

.header img, .menu img {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Permet de préserver le ratio de l'image dans son conteneur */
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* Style pour la section d'introduction */
.intro {
  position: relative;
  text-align: center;
  padding: 20px;
}

.intro h1 {
  font-size: 3em;
  margin: 0;
  position: relative;
  z-index: 1;
}

.intro .nuage-haut {
  position: absolute;
  top: 150px;
  left: 125px;
  transform: translateX(-50%) rotate(180deg);
  z-index: 0;
  width: 200px; /* Ajustez la taille selon vos besoins */
}

.intro .nuage-bas {
  position: absolute;
  top: 260px;
  right: -50px;
  transform: translateX(-50%) rotate(180deg);
  z-index: 0;
  width: 200px; /* Ajustez la taille selon vos besoins */
}

.intro .separator__red {
  border: none;
  border-top: 2px solid red;
  margin: 20px 0;
}

.intro .cta-btn {
  background-color: #d4351c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.intro .cta-btn:hover {
  background-color: #c22e14;
}

/* Style pour l'image de la page d'accueil */
.intro .full-width-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}