.menu {
  visibility: hidden;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: var(--rouge-foncé);
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="false"] {
  transform: translateX(0);
  visibility: visible;
}

.menu__link {
  color: var(--blanc);
  text-decoration: none;
  font-size: var(--fs-taille1);
  display: block;
}

.menu__item {
  margin-bottom: 20px;
}

.menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: "";
  background: var(--noir);
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  background: var(--noir);
  transform: rotate(135deg);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}




