
h1 {
    font-family: var(--font-cinzel);
    padding: 20px;
}

h2 {
    font-family: var(--font-lato);
    padding: 20px;
}

h3 {
    font-family: var(--font-raleway);
    padding: 20px;
}

h4{ 
    font-family: var(--font-open-sans);
    padding: 20px;
    font-size: small;

}

p {
    font-family: var(--font-lato);
    padding: 20px;
}

.typo__rouge {
    color: var(--rouge-foncé);
    font-family: var(--font-cinzel);
    padding: 20px;
}